<style>

</style>
<h2 id="title">Welcome asdfasdf Ember</h2>
{{checkbox-array
  actionList=actionsList
  input-class="form-class"
  actionValues = values
  updateActions=(action "updateActions")
  selectedValues = selectedValues
}}


{{outlet}}
